name: Cleanup Deployments

on:
  workflow_run:
    workflows:
      - Publish Docs
    types:
      - completed

permissions:
  contents: read
  deployments: write

jobs:
  cleanup:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Delete inactive deployments
        uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          onlyRemoveDeployments: true
          environment: github-pages
          exclude: active
